@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after,
  abbr[title]:after,
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "" !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

html {
  font-size: 12px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 16px;
  }
}

body {
  line-height: 1.85;
}

p,
.air-p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

h1,
.air-h1,
h2,
.air-h2,
h3,
.air-h3,
h4,
.air-h4 {
  margin: 1rem 0 0.5rem;
  font-weight: inherit;
  line-height: 1.42;
}

h1,
.air-h1 {
  text-align: center;
  margin-top: 0;
  font-size: 2.5rem;
}

h2,
.air-h2 {
  text-align: center;
  font-size: 2rem;
}

h3,
.air-h3 {
  font-size: 1.5rem;
  text-align: j;
}

h4,
.air-h4 {
  font-size: 1.2rem;
}

small,
.air-small {
  font-size: .707em;
  text-align: left;
}

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

body {
  color: #000;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  margin: 3rem auto;
  max-width: 100rem;
  text-align: justify;
}

pre {
  background-color: #fafafa;
  padding: 1rem;
  text-align: left;
}

blockquote {
  margin: 0;
  border-left: 5px solid #7a7a7a;
  font-style: italic;
  padding: 1.33em;
  text-align: left;
}

p {
  color: #444;
  text-align: justify;
}

div.plot img {
  border-radius: 0;
}
