body {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 17px;
}

p {
  text-align: center;
}

ul, ol {
  text-align: left;
}

blockquote {
  margin: 0;
  border-left: 5px solid #7a7a7a;
  font-style: italic;
  color: gray; /* Set the font color to gray */
}

blockquote p {
  text-align: left;
}

pre code {
  overflow: hidden;
  white-space: pre-wrap;
}
pre {
  text-align: left;
  overflow-wrap: break-word;
  overflow: hidden;
}
